.card-button {
  display: block;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.03);
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  text-align: start;
}

.card-button:hover {
  background: rgba(255, 255, 255, 0.10);
}