.diary-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 50px;
}

.input-title {
  border: none;
  background: none;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Source Sans 3', sans-serif;
  border-bottom: 1px solid #323232;
  width: 100%;
}

.input {
  border: none;
  background: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Source Sans 3', sans-serif;
  border-bottom: 1px solid #323232;
  width: 100%;
}

.form-label {
  display: flex;
  align-items: center;
  min-width: 150px;
  gap: 20px;
}

.invalide-input {
  border: 1px solid rgb(213, 10, 10);
  background: rgba(124, 56, 56, 0.865);
}